{# src/PB/BookingBundle/Resources/views/Booking/booking.html.twig #}

{% extends "PBBookingBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block pbbooking_body %}

	<h2>Réservation</h2>


{% endblock %}