{# src/PB/BookingBundle/Resources/views/Booking/cancel.html.twig #}

{% extends "PBBookingBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block pbbooking_body %}

	<h2>Annuler une réservation</h2>


{% endblock %}