{# src/PB/BookingBundle/Resources/views/Booking/cancel.html.twig #}

{% extends "PBBookingBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block pbbooking_body %}

	<h2>Annuler une réservation</h2>

	<p>Vous êtes sûr ?</p>

	<form action="{{ path('pb_booking_cancel', {'id': booking.id}) }}" method="post">
        <a href="{{ path('pb_booking_view', {'id': booking.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>

        <input type="submit" value="Annuler" class="btn btn-danger" />

        {{ form_rest(form) }} 
    </form>


{% endblock %}