{# src/PB/BookingBundle/Resources/views/Booking/edit.html.twig #}

{% extends "PBBookingBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block pbbooking_body %}

	<h2>Modifier une réservation</h2>

	{{ include("PBBookingBundle:Booking:form.html.twig") }}

{% endblock %}