{# src/PB/BookingBundle/Resources/views/Booking/index.html.twig #}

{% extends "PBBookingBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block pbbooking_body %}

	<h2>Calendrier</h2>
	

{% endblock %}